<!DOCTYPE html>
<html>
<head>
    <title>GPU Share Price Estimation</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="{{url_for('static',filename='logo.png')}}" class="logo">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About The Project</a></li>
                <li><a href="predict.html">Predict</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>

    </div>
    <div class="acontent">

        <p>
            Github Repo for this project : <a href="https://github.com/whysumedh/share-price-estimation-gpu" target="_blank">
                Github Repo
            </a>
        </p>
    </div>
    
</body>
</html>
